<?xml version="1.0"?>
<config>
    <modules>
        <DMC_Solr>
            <version>0.1.6</version>
        </DMC_Solr>
    </modules>
    <default>
        <solr>
            <general>
                <enable>1</enable>
                <debug>0</debug>
                <log>1</log>
                <enable_on_catalog>1</enable_on_catalog>
                <enable_on_search_result>1</enable_on_search_result>
            </general>
            <searcher>
                <fuzzy_enable>1</fuzzy_enable>
                <fuzzy_similarity_factor>0.8</fuzzy_similarity_factor>
            </searcher>
            <!-- register events for indexer -->
            <indexer>
                <reindex_category>0</reindex_category>
                <product_update>0</product_update>
            </indexer>
            <catalog_navigation>
                <allow_multiselect>1</allow_multiselect>
                <display_filter_item_count>1</display_filter_item_count>
                <show_categories>0</show_categories>
            </catalog_navigation>
        </solr>
    </default>
    <global>
        <blocks>
            <solr>
                <class>DMC_Solr_Block</class>
            </solr>
            <catalog>
                <!-- the block will rewrite the layer model then -->
                <rewrite>
                    <product_list>DMC_Solr_Block_Catalog_Product_List</product_list>
                </rewrite>
            </catalog>
            <catalogsearch>
                <!-- the block will rewrite the layer model then -->
                <rewrite>
                    <layer>DMC_Solr_Block_Catalogsearch_Layer_View</layer>
                </rewrite>
            </catalogsearch>
		</blocks>
        <helpers>
            <solr>
                <class>DMC_Solr_Helper</class>
            </solr>
        </helpers>
        <resources>
            <solr_setup>
                <setup>
                    <module>DMC_Solr</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </solr_setup>
        </resources>
        <index>
            <indexer>
                <solr_indexer>
                    <model>solr/indexer</model>
                    <!--<depends>
                        <cataloginventory_stock />
                        <catalog_product_attribute />
                        <catalog_product_price />
                        <eav />
                        <price />
                        <tier_price />
                        <minimal_price />
                        <catalogsearch_fulltext />
                        <tag_summary />
                    </depends>-->
                </solr_indexer>
            </indexer>
        </index>
        <events>
            <!-- // commit moved to DMC_Solr_Model_Indexer -->
            <!--
            <catalog_product_save_commit_after>
                <observers>
                    <solr_catalog_product_save_commit_after>
                        <type>singleton</type>
                        <class>DMC_Solr_Model_Observer</class>
                        <method>catalog_product_save_commit_after</method>
                    </solr_catalog_product_save_commit_after>
                </observers>
            </catalog_product_save_commit_after>
            -->

            <catalog_product_delete_before>
                <observers>
                    <solr_catalog_product_delete_before>
                        <type>singleton</type>
                        <class>DMC_Solr_Model_Observer</class>
                        <method>catalog_product_delete_before</method>
                    </solr_catalog_product_delete_before>
                </observers>
            </catalog_product_delete_before>
            <catalog_entity_attribute_save_before>
                <observers>
                    <solr_catalog_entity_attribute_save_before>
                        <type>singleton</type>
                        <class>DMC_Solr_Model_Observer</class>
                        <method>catalog_entity_attribute_save_before</method>
                    </solr_catalog_entity_attribute_save_before>
                </observers>
            </catalog_entity_attribute_save_before>
            <catalog_entity_attribute_save_after>
                <observers>
                    <solr_catalog_entity_attribute_save_after>
                        <type>singleton</type>
                        <class>DMC_Solr_Model_Observer</class>
                        <method>catalog_entity_attribute_save_after</method>
                    </solr_catalog_entity_attribute_save_after>
                </observers>
            </catalog_entity_attribute_save_after>
            <catalog_entity_attribute_delete_before>
                <observers>
                    <solr_catalog_entity_attribute_delete_before>
                        <type>singleton</type>
                        <class>DMC_Solr_Model_Observer</class>
                        <method>catalog_entity_attribute_delete_before</method>
                    </solr_catalog_entity_attribute_delete_before>
                </observers>
            </catalog_entity_attribute_delete_before>

            <eav_entity_attribute_set_save_before>
                <observers>
                    <solr_eav_entity_attribute_set_save_before>
                        <type>singleton</type>
                        <class>DMC_Solr_Model_Observer</class>
                        <method>eav_entity_attribute_set_save_before</method>
                    </solr_eav_entity_attribute_set_save_before>
                </observers>
            </eav_entity_attribute_set_save_before>
            <eav_entity_attribute_set_save_after>
                <observers>
                    <solr_eav_entity_attribute_set_save_after>
                        <type>singleton</type>
                        <class>DMC_Solr_Model_Observer</class>
                        <method>eav_entity_attribute_set_save_after</method>
                    </solr_eav_entity_attribute_set_save_after>
                </observers>
            </eav_entity_attribute_set_save_after>

            <cms_page_save_after>
                <observers>
                    <solr_cms_page_save_after>
                        <type>singleton</type>
                        <class>DMC_Solr_Model_Observer</class>
                        <method>cms_page_save_after</method>
                    </solr_cms_page_save_after>
                </observers>
            </cms_page_save_after>
            <cms_page_delete_before>
                <observers>
                    <solr_cms_page_delete_before>
                        <type>singleton</type>
                        <class>DMC_Solr_Model_Observer</class>
                        <method>cms_page_delete_before</method>
                    </solr_cms_page_delete_before>
                </observers>
            </cms_page_delete_before>
            
            <catalog_category_save_after>
                <observers>
                    <solr_catalog_category_save_after>
                        <type>singleton</type>
                        <class>DMC_Solr_Model_Observer</class>
                        <method>catalog_category_save_after</method>
                    </solr_catalog_category_save_after>
                </observers>
            </catalog_category_save_after>
            <catalog_category_delete_before>
                <observers>
                    <solr_catalog_category_delete_before>
                        <type>singleton</type>
                        <class>DMC_Solr_Model_Observer</class>
                        <method>catalog_category_delete_before</method>
                    </solr_catalog_category_delete_before>
                </observers>
            </catalog_category_delete_before>
            <adminhtml_catalog_product_attribute_edit_prepare_form>
                <observers>
                    <adminhtml_catalog_product_attribute_edit_prepare_form>
                        <type>singleton</type>
                        <class>DMC_Solr_Model_Observer</class>
                        <method>addAttributeOptions</method>
                    </adminhtml_catalog_product_attribute_edit_prepare_form>
                </observers>
            </adminhtml_catalog_product_attribute_edit_prepare_form>
        </events>
        <models>
            <solr>
                <class>DMC_Solr_Model</class>
                <resourceModel>solr_resource</resourceModel>
            </solr>
             <solr_resource>
                <class>DMC_Solr_Model_Resource</class>
                <entities>
                    <landingpage>
                        <table>dmc_solr_landingpage</table>
                    </landingpage>
                    <synonym>
                        <table>dmc_solr_synonym</table>
                    </synonym>
                    <stopword>
                        <table>dmc_solr_stopword</table>
                    </stopword>
                    <promotion>
                        <table>dmc_solr_promotion</table>
                    </promotion>
                </entities>
            </solr_resource>
            <cms>
                <rewrite>
                    <page>DMC_Solr_Model_Cms_Page</page>
                </rewrite>
            </cms>
<!--        <catalog>
                <rewrite>
                    <product_type_configurable_price>DMC_Solr_Model_Catalog_Product_Type_Configurable_Price</product_type_configurable_price>
                </rewrite>
            </catalog>-->
            <catalogsearch>
                <rewrite>
                    <advanced>DMC_Solr_Model_Catalogsearch_Advanced</advanced>
                </rewrite>
            </catalogsearch>
            <catalogsearch_mysql4>
                <rewrite>
                    <advanced>DMC_Solr_Model_Catalogsearch_Mysql4_Advanced</advanced>
                </rewrite>
            </catalogsearch_mysql4>
            <cataloginventory>
                <rewrite>
                    <observer>DMC_Solr_Model_CatalogInventory_Observer</observer>
                </rewrite>
            </cataloginventory>
        </models>
        <solr_document_types>
            <product>
                <class>DMC_Solr_Model_SolrServer_Adapter_Product</class>
            </product>
            <cms>
                <class>DMC_Solr_Model_SolrServer_Adapter_Cms</class>
            </cms>
            <category>
                <class>DMC_Solr_Model_SolrServer_Adapter_Category</class>
            </category>
            <landingpage>
                <class>DMC_Solr_Model_SolrServer_Adapter_Landingpage</class>
            </landingpage>
            <promotion>
                <class>DMC_Solr_Model_SolrServer_Adapter_Promotion</class>
            </promotion>
        </solr_document_types>

        <solr_additional_documents>
            <cms>
                <collection_class>DMC_Solr_Model_SolrServer_Adapter_Cms_Collection</collection_class>
                <type_converter>DMC_Solr_Model_SolrServer_Adapter_Cms_TypeConverter</type_converter>
            </cms>
        </solr_additional_documents>
        <solr_additional_document_exceptions>
            <!--<cms />-->
        </solr_additional_document_exceptions>
        
    </global>
    <admin>
        <routers>
            <solr>
                <use>admin</use>
                <args>
                    <module>DMC_Solr</module>
                    <frontName>solr</frontName>
                </args>
            </solr>
        </routers>
    </admin>
    <frontend>

        <routers>
            <catalogsearch>
                <use>standard</use>
                <args>
                      <module>DMC_Solr</module>
                      <frontName>catalogsearch</frontName>
                </args>
            </catalogsearch>
            <!--<solr>
                <args>
                    <module>DMC_Solr</module>
                    <frontName>solr</frontName>
                </args>
            </solr>
            -->
        </routers>

        <layout>
            <updates>
                <solr>
                    <file>dmc_solr.xml</file>
                </solr>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <solr>
                                            <title>Solr</title>
                                        </solr>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>

        <layout>
            <updates>
                <dmc_solr>
                    <file>dmc_solr.xml</file>
                </dmc_solr>
            </updates>
        </layout>
    </adminhtml>
</config>
